<div class="card">
    <div class="card-header">
        Agregar Partes
    </div>
    <div class="card-body">
        <form action="">
            <div class="mb-3">
              <label for="" class="form-label">Nombre</label>
              <input type="text"
                class="form-control" name="" id="" aria-describedby="helpId" placeholder="Escribe un nombre">
              <small id="helpId" class="form-text text-muted">Help text</small>
            </div>
            <span class="badge bg-success">Agregar</span>
            <span class="badge bg-info">Cancelar</span>
        </form>
    </div>
    
</div>
