<div class="card">
    <div class="card-header">
        Agregar Partes
    </div>
    <div class="card-body">
        <form [formGroup]="validateForm" (ngSubmit)="submitForm()">

            <div class="mb-3">
              <label for="" class="form-label">CODIGO</label>
              <input
                 formControlName="CODIGO" id="" aria-describedby="helpId" placeholder="Escribe un nombre">
              <small id="helpId" class="form-text text-muted">Help text</small>
            </div>
            <div class="mb-3">
                <label for="" class="form-label">CONTRASENIA</label>
                <input
                   formControlName="CONTRASENIA" id="" aria-describedby="helpId" placeholder="Escribe un nombre">
                <small id="helpId" class="form-text text-muted">Help text</small>
              </div>
              <div class="mb-3">
                <label for="" class="form-label">PERMISOID</label>
                <input
                   formControlName="PERMISOID" id="" aria-describedby="helpId" placeholder="Escribe un nombre">
                <small id="helpId" class="form-text text-muted">Help text</small>
              </div>
              <div class="mb-3">
                <label for="" class="form-label">NOMBRES</label>
                <input
                   formControlName="NOMBRES" id="" aria-describedby="helpId" placeholder="Escribe un nombre">
                <small id="helpId" class="form-text text-muted">Help text</small>
              </div>

            <button type="button" class="badge bg-success" (click)="enviarDatos()">Agregar</button>
            <span class="badge bg-info">Cancelar</span>
        </form>
    </div>
    
</div>
